
<%= video_tag @video.movie.url,controls: true,class:'show_pic' %>
<div id='ratings'>
  <div class='right_stars'>
    Quality <br> <%= rating_for @video, 'quality', disable_after_rate: false %>
  </div>
  <div class='right_stars'>
    Girl<br> <%= rating_for @video, 'girl', disable_after_rate: false %>
  </div>
</div>

<div id=des>
  <%= @video.title%> is a
  <%= link_to @video.cat, videos_path(sort:@search) %> <%=@video.res%> Video
</div>

<%= link_to 'Edit', edit_video_path(@video),class:'edit_link' %>
