<div class='home_div_filler'>
</div>
<div class='background-1'></div>
<div class='home_div'>
  <h1>Welcome Back Ryan!!!</h1><br>
  <h1>Sit Back and Enjoy!!!</h1>
  <%= image_tag "flipped.jpg",class:'home_pic' %>
  <%= image_tag "home.gif",class:'home_video' %>

  <%= image_tag "home5.jpg",class:'home_pic2' %>


</div>
<div class='background-2'></div>
<div class='home_div'>
  <h1>CrustyV.XYZ</h1><br>
  <h1>Is At Your Service ( ͡° ͜ʖ ͡°) </h1>
  <%= video_tag 'home.webm',controls: false,loop:true,autoplay:true,class:'home_gif' %>
  <%= image_tag "home2.gif",class:'home_gif' %>

</div>
<div class='background-3'></div>
<div class='home_div'>
  <h1>Enjoy Your Stay!!</h1>
  <br>
  <h1>Be Back Soon!!</h1>
</div>
