<div id=full_form>
  <div class='form-inputs'>
    <%= simple_form_for @image do |i|%>
      <%= i.input :title %>

      <%= i.input :cat,label:'Category',collection:['Pretty Girls','Real Girls','Blowjob','Cumshot','Bondage'] %>
      <%= i.input :res,label:'Resolution' %>
    </div>
    <%= i.input :nsfw,label:'NSFW?' %>
    <%= i.button :submit %><br>
    <%= link_to 'Delete', @image, method: :delete, data: { confirm: 'Are you sure?' },class:'btn_destroy' %>

    <%end%>

</div>
