<p id="notice"><%= notice %></p>


<%@girl = @image.girl.to_s%>
<% if @girl.include? "mp4"%>
  <%= video_tag @image.girl.url,controls: false,loop:true,autoplay:true,class:"show_pic" %>

<%else%>
  <!-- Trigger the Modal -->
  <%= image_tag @image.girl.url,id:'myImg',alt:@image.title,class:"show_pic" %>

  <!-- The Modal -->
  <div id="myModal" class="modal">

   <!-- The Close Button -->
   <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

   <!-- Modal Content (The Image) -->
   <img class="modal-content" id="img01">

   <!-- Modal Caption (Image Text) -->
   <div id="caption"></div>
  </div>

<%end%>
<div id='ratings'>
  <div class='right_stars'>
    Quality <br> <%= rating_for @image, 'quality', disable_after_rate: false %>
  </div>
  <div class='right_stars'>
    Girl<br> <%= rating_for @image, 'girl', disable_after_rate: false %>
  </div>
</div>
<div id=des>
  <%= @image.title%> is a
  <% if @image.nsfw==true%>
    NSFW
  <%else%>
    SFW
  <%end%>
  <%=@image.cat%> <%=@image.res%> Picture
</div>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
